/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* colors fro brand */

nav .navbar-brand .green
{
    color: #82ada4;
}
nav .navbar-brand .yellow
{
    color: #dfbd66;
}
nav .navbar-brand .purple
{
    color: #7278a8;
}
nav .navbar-brand .orange
{
    color: #dd784e;
}
nav .navbar-brand .pink
{
    color: #dbb7b7;
}

button
{
    background-color: #87CEEB;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.solution-text
{
    font-family: 'Pacifico', cursive;
    color: #007FFF;
    font-size: 24px;
}

.section
{
    background-color:#f0f0f0;
    border-radius:15px; padding:20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h3
{
    font-family: 'Lucida Console', monospace;
}
