{% extends "layout.html" %}

{% block title %}
    homepage
{% endblock %}

{% block main %}
    <div>
        <h1 style="color: #7278a8">about Quiz Wizard</h1>
    </div>
    <div>
        <h2 style="color: #82ada4">"most of your learning happens when you get tested"</h2>
    </div>
    <P></P>
    <hr>
    <div>
        <h3 style="color: #dd784e">The what?</h3>
        <p>
            Quiz Wizard is a comprehensive web platform designed to help beginner developers evaluate their foundational knowledge in various programming languages.
            Through a series of carefully crafted quiz tests, users can assess their understanding of basic concepts and principles in a specific programming language.
            The platform aims to provide a clear indication of whether a developer has a strong grasp of the essential elements required to work confidently at the
            foundational level. By taking these quizzes, users can identify areas of strength and areas needing improvement, ensuring they are well-prepared for
            more advanced learning and development challenges. Ultimately, Quiz Wizard serves as a valuable tool for novice developers to gauge their proficiency
            and build a solid foundation in their chosen programming languages.
        </p>
    </div>
    <p></p>
    <hr>
    <div>
        <h3 style="color: #dd784e">The why?</h3>
        <p>You might wonder, with so many websites catering to the same niche, what sets Quiz Wizard apart from the rest?
            The answer is quite simple. Quiz Wizard distinguishes itself through several key features:
        </p>
        <ol>
            <li><p>
                User-Friendly Interface: Quiz Wizard offers an intuitive and easy-to-navigate platform
                 that ensures users can effortlessly access and complete quizzes without any hassle.
            </p></li>
            <li><p>
                Curated, High-Quality Questions: While many platforms inundate users with a vast number of questions,
                Quiz Wizard focuses on quality over quantity. Our limited, yet thought-provoking questions are meticulously designed
                 to truly challenge and engage users, providing a meaningful assessment of their foundational knowledge.
            </p></li>
            <li><p>
                Time Efficiency: We understand that our users' time is valuable. Quiz Wizard is structured to deliver insightful assessments
                 without being overly time-consuming. This allows users to
                 efficiently gauge their proficiency and identify areas for improvement without spending excessive time on lengthy quizzes
            </p></li>
        </ol>
        <p>
            In essence, Quiz Wizard stands out by providing a streamlined, effective,
             and enjoyable experience for beginner developers looking to test and strengthen their foundational programming skills.
        </p>
    </div>
    <p></p>
    <hr>
    <div>
        <h3 style="color: #dd784e">The how?</h3>
        <p>Using Quiz Wizard is incredibly straightforward and user-friendly. To begin, simply navigate to the "Quizzes" section of the platform. From there,
            select the programming language you wish to test your knowledge in by clicking the play button.
        </p>
        <p>The programing languages we offer are as follows</p>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="color: #dbb7b7">languages</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="color: #7278a8">Python</td>
                </tr>
                <tr>
                    <td style="color: #7278a8">C</td>
                </tr>
                <tr>
                    <td style="color: #7278a8">SQL</td>
                </tr>
                <tr>
                    <td style="color: #7278a8">CSS</td>
                </tr>
                <tr>
                    <td style="color: #7278a8">HTML</td>
                </tr>
                <tr>
                    <td style="color: #7278a8">JavaScript</td>
                </tr>
            </tbody>
        </table>
        <p></p>
        <p>
            Each question in the quiz is designed to be highly evaluative,
             focusing on deepening your understanding and mastery of the chosen programming language.
            These quizzes are composed of a series of 10 carefully selected questions,
             specifically tailored for beginner developers to solidify their foundational knowledge.
            This structure allows you to gain valuable insights into your proficiency,
             as the cumulative feedback provided will offer a clear measure of your understanding and skills.
            Our approach prioritizes learning and growth,
            empowering you to identify areas for improvement and continue developing your expertise.
        </p>
        <p>
            Once you've completed and submitted your quiz, head over to the dashboard to view your comprehensive analysis.
            With just a few clicks,
            you can easily assess your foundational proficiency in various programming languages and track your progress over time.
        </p>

        <p>After understanding all of this what are you waiting for</p>
        <h4 style="color: #dfbd66">
            "Just Play to outperform"
        </h4>
    </div>

{% endblock %}
