{% extends "layout.html" %}

{% block tilte %}
    py_sol
{% endblock %}

{% block main %}
    <h1>web front pack Quiz Solution</h1>

    <div class="container">
        <div class="section" >
            <hr>
            <h3>
                this &lt;br&gt; tag is use for<br>
                1. new line<br>
                2. border<br>
                3. call brot function <br>
                4. background remove
            </h3>

            <p class="solution-text">
                New line <br>
                reason, by convention
            </p>

        </div>
        <p></p>
        <div class="section" >
            <hr>
            <h3>
                this &lt;hr&gt; tag is use for<br>
                1. homogenous row showed in screen<br>
                2. horizontal line in screen<br>
                3. vertical line in screen <br>
                4. high resolution in screen <br>
            </h3>

            <p class="solution-text">
                horizontal line in screen<br>
                reason, by convetion
            </p>

        </div>
        <p></p>
        <div class="section" >
            <hr>
            <h3>
                querySelector is a function of which language?
            </h3>

            <p class="solution-text">
                JavaScript
            </p>

        </div>
        <p></p>
        <div class="section" >
            <hr>
            <h3>
                first computer network was?
            </h3>

            <p class="solution-text">
                ARPANET <br>
                this was the first computer network made by us army to connect some elite unversity
            </p>

        </div>
        <p></p>
        <div class="section" >
            <hr>
            <h3>
                CSS stand for ?<br>
                1. cover style sheet<br>
                2. control style sheet<br>
                3. cascading style sheet<br>
                4. color style sheet
            </h3>

            <p class="solution-text">
                cascading style sheet
            </p>


        </div>
        <p></p>
        <div class="section" >
            <hr>
            <h3>
                HTML stand for?<br>
                1. hover text modle language<br>
                2. hyper text markup language<br>
                3. huygen text markup language<br>
                4. high text markup language<br>
            </h3>

            <p class="solution-text">
                hyper text markup language
            </p>


        </div>
        <p></p>
        <div class="section" >
            <hr>
            <h3>
                the DOMContentLoaded event in JavaScript ensure that<br>
                1. control the manipulation of document<br>
                2. ristrict html document content<br>
                3. the html document is passed<br>
                4. the html document has be completely parased
            </h3>

            <p class="solution-text">
                the html document has been completely parased<br>
                means that DOMConetentLoaded will wait till the whole html file is been getting<br>
                loaded after that any function will get execute
            </p>


        </div>
        <p></p>
        <div class="section" >
            <hr>
            <h3>
                In order to respond to the event in the client side JavaScript may use <br>
                1. DOMContentLoaded <br>
                2. addEventListener<br>
                3. querySelectorEvent <br>
                4. querySelectorAll
            </h3>

            <p class="solution-text">
                addEventListener <br>
                reason, by convention!
            </p>


        </div>
        <p></p>
        <div class="section" >
            <hr>
            <h3>
                in order to get input from user in HTML we use<br>
                1. &lt;button&gt; tag<br>
                2. &lt;radio&gt; tag<br>
                3. &lt;input&gt; tag<br>
                4. &lt;type&gt; tag <br>
            </h3>

            <p class="solution-text">
                &lt;input&gt; tag
            </p>


        </div>
        <p></p>
        <div class="section" >
            <hr>
            <h3>
                MVC architecture stand for <br>
                1. Model-view-controller<br>
                2. main-view-controller<br>
                3. multi-vision-controller<br>
                4. model-view-content
            </h3>

            <p class="solution-text">
                model-veiw-controller<br>
                here the meaning <br>
                model - database<br>
                veiw - frontend<br>
                controller - backend<br>
            </p>


        </div>
        <p></p>
        <div class="section" >
            <hr>
            <h3>
                which is more dynamic
            </h3>

            <p class="solution-text">
                web app
            </p>


        </div>
        <p></p>
        <div class="section" >
            <hr>
            <h3>
                which is/are python library/module for backend
            </h3>

            <p class="solution-text">
                both
            </p>


        </div>
        <p></p>
        <div class="section" >
            <hr>
            <h3>
                which is more easy to use for backend in python to be specific
            </h3>

            <p class="solution-text">
                flask <br>
                because there are some pre set convetion in flask in order to work in, which make it more<br>
                developer friendly
            </p>


        </div>
        <p></p>
        <div class="section" >
            <hr>
            <h3>
                MVC architecture can be use for what
            </h3>

            <p class="solution-text">
                wed app
            </p>


        </div>
        <p></p>
        <div class="section" >
            <hr>
            <h3>
                This site is a ______
            </h3>

            <p class="solution-text">
                web app<br>
                in the site you can register and log in, have histroy as well a personlised Dashboard<br>
                means the interface will be different for you and your friend
            </p>


        </div>
        <p></p>

        <form action="/wed_frontPack_solution" method="post">
            <button class="btn btn-primary" type="submit">Home</button>
        </form>

    </div>
{% endblock %}
